<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{{ page.title }}</title>

<!-- Favicon -->
<link rel="icon" href="" />

<!-- Stylesheets -->
<link rel="stylesheet" href="https://use.typekit.net/iqz3eca.css">
<link rel="stylesheet" href="/assets/css/styles.css">

<!-- Import JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- STOPS TRANSITIONS FROM FIRING ON PAGE LOAD -->
<script>
  $(document).ready(function() {
    $("body").removeClass("preload");
  });
</script>
